@{
    ViewBag.Title = "Appointment Schedule project";
}
<h1>@ViewBag.Title.</h1>
<h2>Created by Ilia Snitko</h2>

<p>OpenU OOP course</p>




<h3>For fake support:</h3>
<h3>Call 052-0000000</h3>
<h3>Email Email@Gmail.com</h3>
