@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Appointment Schedule Project</h3>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>User Menu</h2>
        @Html.ActionLink("View Clients", "Index", "Client", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("View Workers", "Index", "Worker", null, new { @class = "btn btn-primary d-block mb-5" })
    </div>
    @if (User.IsInRole("Admin") || User.IsInRole("UserControl"))
    {
        <div class="col-md-6">
            <h2>Administrator</h2>
            @Html.ActionLink("View Users", "Index", "User", null, new { @class = "btn btn-primary" })
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("View Appointments", "Index", "Appointment", null, new { @class = "btn btn-primary" })
            }
        </div>
    }
</div>
