@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Client Appointments";
}

<h2>Appointments for @ViewBag.ClientName</h2>

<button onclick="location.href='@Url.Action("Create", "Appointment", new { ClientID = ViewBag.ClientId })'">Add Appointment</button>


<div id='calendar'></div>

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'listYear,listMonth,month'
                },
                defaultView: 'month',
                editable: false,
                selectable: true,
                eventLimit: true,
                timeZone: 'Jerusalem',
                buttonText: {
                    listYear: 'Year List',
                    listMonth: 'Month List',
                    month: 'Month'
                },
                timeFormat: 'H:mm',
                slotLabelFormat: 'H:mm', // 24-hour format for time slots
                eventTimeFormat: 'H:mm',
                events: function(start, end, timezone, callback) {
                    $.ajax({
                        url: '@Url.Action("GetClientAppointments", "Appointment", new { clientId = ViewBag.ClientId })',
                        type: 'GET',
                        dataType: 'json',
                        success: function(doc) {
                            var events = [];
                            $(doc).each(function() {
                                events.push({
                                    id: this.id,
                                    title: this.title,
                                    start: this.start,
                                    end: this.end,
                                    allDay: false
                                });
                            });
                            callback(events);
                        }
                    });
                },
                eventClick: function(event, element) {
                    var baseUrl = '@Url.Action("Details", "Appointment")';
                    window.location.href = baseUrl + '/' + event.id;
                }
            });
        });
    </script>
}
